<%- include("../partials/header") %>
<div class="container" style="width:60%; max-width:500px; margin:0 auto;">
  <h1 style="text-align:center">Add New Campground</h1>
  <form action="/campgrounds" method="post">
    <div class="form-group">
      <input class="form-control" type="text" name="name" placeholder="Camp Name">
    </div>
    <div class="form-group">
      <input class="form-control" type="link" name="img" placeholder="Image link">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="description" placeholder="Description">
        </div>
      <div class="form-group">
        <button class="btn btn-md btn-block btn-primary">Add!</button>
        </div>
  </form>
  <a href="/" class="text-primary">Go Back</a>
</div>
<%- include("../partials/footer") %>
