<%- include("partials/header") %>
<div class="container">
  <header class="jumbotron">
    <div class="container">
    <h1>Campgrounds</h1>
    <p>View our hand-picked collection of campgrounds from all over the world!</p>
    <p>
      <a class="btn btn-lg btn-primary" href="/campgrounds/new">Add a New Campground</a>
    </p>
    </div>
  </header>
  <div class="row" style="display:flex; flex-wrap:wrap;">
    <% campgrounds.forEach(function(camp){ %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="<%=camp.img%>">
          <div class="caption">
                <h4><%= camp.name %></h4>
          </div>
        </div>
      </div>
    <% }); %>
  </div>

</div>

<%- include("partials/footer") %>
